/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }



body {
    margin: 0;

    font-size: 15px;
    line-height: 1.5;
    color: #444444;
    background-color: #f0f0f0;
    user-select: none;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}





.container {
    margin: 100px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    background-color: #f0f0f0;
    padding: 25px;
    border-radius: 30px;
    max-width: 360px;
    height: 500px;
    box-shadow: 
    6px 6px 8px 0 rgba(255, 255, 255, 0.7) inset,
    -4px -4px 6px 0 rgba(0, 0, 0, .25) inset;
}

.item {
    font-family: 'Montserrat';
    border-radius: 30px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    background-color: #f0f0f0;
    color: #6b6b6b;
    box-shadow: 
      2px 2px 4px 0 rgba(0, 0, 0, 0.25),
      -2px -2px 4px 0 rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    transition: box-shadow ease-in-out .9s;
   
   }

.item:hover {
    /* background: linear-gradient(135deg, rgba(0,0,0,0.05), rgba(255,255,255,0.07)); */
    box-shadow: 
      2px 2px 4px 0 rgba(0, 0, 0, 0.25) inset,
      -2px -2px 4px 0 rgba(255, 255, 255, 0.8) inset;
    color: #3d3d3d;
}


.form {
    max-width: 100%;
     
}

input {
    font-family: 'Audiowide', cursive;
    margin: 10px auto;
    padding: 10px;
    background-color:  #e5fac5;
    color: #808d6f;
    border-radius: 10px;
    width: 100%;
    height: 60px;
    border: 0;
    outline: none;
    text-align: right;
    font-size: 30px;
    box-shadow: 
      4px 4px 6px 0 rgba(0, 0, 0, 0.15) inset,
      -2px -2px 4px 0 rgba(3, 2, 2, 0.20) inset;
    
}

.input {
    grid-column: 1/-1;
    }

.clean {
    grid-column: 1/-3;
}

.back {
    grid-column: 3/-1;
}

.equal {
    grid-column: 4;
    grid-row: 6/8;
    background-color: rgb(255, 165, 62);
}

.equal:hover {
    background: linear-gradient(135deg, rgba(0,0,0,0.10), rgba(255,255,255,0.05));
    background-color: rgb(255, 165, 62);
}

.zero {
    grid-column: 1/3;
}